<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None"/>
  </appSettings>
  <system.web>

    <roleManager enabled="true"/>
    <authentication mode="Forms">
      <forms loginUrl="login/login.aspx"/> 
    </authentication>
    
    
    
    
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
 
  
  
  
  
  <connectionStrings>
    <remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g6; Persist Security Info=True; User ID=msci3300_g6; Password=Group6!!!!"/>
    <add name="db_kcerchioCubs" connectionString="Data Source=apollo.biz.uiowa.edu; Initial Catalog=msci3300_g6; Persist Security Info=True; User ID=msci3300_g6; Password=Group6!!!!" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>